<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List</h1>
<a href="./registView">등록하기</a>
<table>
    <tr><td>ID</td><td>PWD</td><td>NAME</td><td>DATE</td></tr>
    <tr th:each="member : ${list}">
        <td>
            <a th:href="@{./search(userId=${member.userId})}"
                                                th:text="${member.userId}"></a>
        </td>
        <td th:text="${member.userPwd}"></td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.registDate}"></td>
        <td><a th:href="@{./updateView(userId=${member.userId})}">수정</a></td>
        <td><a th:href="@{./delete(userId=${member.userId})}">삭제</a></td>
    </tr>
</table>
</body>
</html>